.sideBar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sideBar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #e4e5e6;
  background-color: #ededed;
  padding: 5.5px;
}

.sideBar__header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sideBar__avatar {
  width: 40px !important;
  height: 40px !important;
}

.sideBar__header__icon {
  color: #919191 !important;
  width: 24px !important;
  height: 24px !important;
}

.moreIcon__content {
  display: none;
  position: absolute;
  right: 15px;
  bottom: -55px;
  min-width: 100px;
  box-shadow: 1px 1px #f6f6f6, 1px 1px 1px 1px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 2px;
}

.sideBar__more {
  position: relative;
}

.groupMenu {
  cursor: pointer;
}

.sideBar__search {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  background-color: #f6f6f6;
  border: 1px solid #ededed;
}

.sideBar__searchContainer {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  color: #c1c1c1 !important;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  padding: 4.5px;
}

#sideBar__input {
  border: 0;
  font-size: 14px;
  color: #4a4a4a;
}

#sideBar__input:focus + .sideBar__searchButton {
  display: none !important;
}
#sideBar__input:focus + .sideBar__arrowButton {
  display: block !important;
}

#sideBar__input:focus + .sideBar__search {
  background-color: white !important;
}

.sideBar__searchButton {
  width: 24px !important;
  height: 24px !important;
  margin-right: 20px;
}

.sideBar__arrowButton {
  width: 24px !important;
  height: 24px !important;
  margin-right: 20px;
  display: none !important;
  color: #33b7f6;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.whiteBg {
  background-color: white !important;
}

.sideBar__chats {
  flex: 1;
}

.ScrollbarsCustom-Track {
  width: 5px !important;
  border-radius: 0 !important;
  top: 0px !important;
  height: 100% !important;
  background-color: #d7dfdf !important;
}

.ScrollbarsCustom-Thumb {
  border-radius: 0 !important;
  width: 100% !important;
  background: #bab4ae none repeat scroll 0% 0% !important;
}
